on:
    push:
        branches:
            - main
    
    
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: check 
          uses: actions/checkout@v6.0.2

        - name: run tests
          run: npm run test

        
        